.shieldImg{
	height: 90px;
	width: 90px;
	margin: 0 auto;
}
.shieldImgDiv{
	height: 130px;
	width: 90px;
	text-align: center !important;
}
.team {
	text-align: center;
}
.sortableLink{
	cursor: pointer;
	color: blue;
}
.mt20{
	margin-top: 20px;
}
.shieldIcon{
	width:auto !important;
	height:90px !important	;
}
.border0{
	border: 0 !important
}